<div style="display: grid;gap:25px">
    <div class="offcanvas-header border rounded">
        <div class="associatedHeader">
            <div>
                <h2>Item Group </h2>
                <p style="color: grey; font-size: 13px; padding-top: 4px;">Manage item groups associated with this item
                </p>
            </div>
            <div class="actions">
                <!-- <button class="btn btn-primary"> Update </button> -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <p style="color: grey; font-size: 13px; padding-top: 4px;">Name </p>
        <input style="line-height: 2;width: 50%;margin-top: 5px;" disabled placeholder="Enter Name" class="form-control"
            type="text" title="Name">
    </div>

    <div style="height: auto;" class="border rounded">
        <div class="container-fluid"
            style="display: flex;justify-content: space-between;width: 100%;align-items: center;height: 5vh;background: #a9a9a942;">
            <p style="font-weight: 500;">NAME </p>
            <p style="font-weight: 500;">ITEMS ASSOCIATED </p>
        </div>
        @for(items of itemAssociated; track items ;let fInd = $index){
        <div class="container-fluid border"
            style="display: flex; justify-content: space-between; gap: 10px;align-items: center;height: 7vh;">
            <p style="color: #0037AD;font-weight: 500; padding-top: 4px;"> {{items.name}} </p>
            <p style="color: #706b6b;font-weight: 500; padding-top: 4px;"> {{items.itemAssociated}} </p>
        </div>
        }
    </div>
</div>