.associatedHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.table-scroll {
  overflow: auto;
  max-height: calc(100vh - 435px);
}

.placeHolderText {
  color: darkgray;
}