.mat-mdc-form-field-infix{
    min-height: fit-content !important;
    padding: 0 8px !important;
    width: 120px !important;
}
.mat-mdc-form-field {
    border : none !important;
}

input:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}