<div class="offcanvas-header border rounded">
    <div class="associatedHeader">
        <div>
            <h2>1 Parent Modifier Groups</h2>
            <p>Manage modifiers groups associated with this modifier</p>
        </div>
        <div class="actions">
            <!-- <button class="filter-btn"> Update </button>  -->
        </div>
    </div>
</div>

<div style="margin-top: 15px;padding: 20px;" class="border rounded"> 
    <div class="offcanvas-header border rounded">
        <div class="associatedHeader">
            <div>
                <h2>Quantity</h2>
                ---
                <p>Variant</p>
            </div>  
            <div class="actions">
                <!-- <button class="filter-btn"> Update </button>  -->
            </div>
        </div>
    </div>
</div>