
<!-- Filter Section -->
<div #itemOffCampus class="offcanvas offcanvas-end"  data-bs-backdrop="static" tabindex="-1" id="itemOffCampus" aria-labelledby="staticBackdropLabel" >
    <!-- Header -->
    <div class="offcanvas-header">
      <div class="offcanvas-title fs-5" id="offcanvasRightLabel"><i class="bi bi-funnel filter-icon" ></i>Filter</div>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- Body -->
    <div class="offcanvas-body"></div>
</div>
  
  
  
  
  