<div class="login-section">
    <div class="bg-section container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-3 lhs">
                <img src="../../../assets/images/svg/Logotheme.svg" alt="" class="logo">
            </div>
            <div class="col-sm- col-md-9 rhs">
                <div class="text-white">
                    <div class="heading">
                        <img src="../../.././assets/images/svg/Logotheme.svg" alt="" class="logo box-logo mb-3">

                        <div>Password Changed Successfully</div>
                    </div>
                    <button (click)="hideSuccess()" class="btn btn-theme">Change Password</button>
                </div>
            </div>
        </div>
    </div>
    </div>