.form-container {
    max-width: 95rem;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    margin-top: 20px;
    padding: 10px 15px;
    width: 100%;
    border: none;
    background: #00378c;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background: #1950a3;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .border-error {
    border: 1px solid red;
}

.error-message {
    color: red;
    padding-top:20px;
    font-size: 12px;
    margin-top: 5px;
}
.back-drop{
  opacity: 0.6;
  pointer-events: none;
}

.rds{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0px 20px;
}
  
.div-search-hading{
  align-items: center;
  display: flex;
  gap: 3px;
  justify-content: center;
  margin-bottom: 8px;
}

.heading{
  margin:0px !important;
  min-width:200px
}


.toggle-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  // align-items: center;
  // margin: 20px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  bottom: 3px;
  left: 3px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(26px);
}