.footer-text {
    font-size: 14px;
    font-weight: 500;
}

.footer-dropdown {
    padding: 3px 8px;
    border-radius: 8px;
    border: 1px solid #8080804a;
}

.section-text {
    margin-top: 8px;
    cursor: pointer;
}

.section-text:hover {
    text-decoration: underline;
    color: #00378c;
}