<div class="container">
    <!-- Meraki Channels Section -->
    <div class="m-8">
        <span style="display: flex;gap:5px">
            <h3 class="text-lg font-semibold mb-2">Meraki Channels
            </h3>
            <i class="bi bi-info-circle"></i>
        </span>
        <div class="border rounded"
            style="display: flex;justify-content: space-between;height: 160px;align-items: center;padding: 10px;">
            <div style="display: grid;gap: 15px;">
                <div style="display: flex;gap:10px">
                    <i style="font-size: 28px;" class="bi bi-ui-checks-grid"></i>
                    <p style="font-size: 21px;">App</p>
                </div>
                <div style="display: flex;gap:10px">
                    <i style="font-size: 28px;" class="bi bi-globe2"></i>
                    <p style="font-size: 21px;">Web</p>
                </div>
            </div>
            <div>
                <p style="word-wrap: break-word;width: 500px;">Take control of your online business
                    with self-branded apps & websites</p>
                <button style="width: 35%;" class="btn btn-primary" type="button">
                    Try Free Demo
                </button>
            </div>
        </div>
    </div>

    <!-- Hub Platforms Section -->
    <div class="m-8">
        <span style="display: flex;gap:5px">
            <h3 class="text-lg font-semibold mb-2">Hub Platforms
            </h3>
            <i class="bi bi-info-circle"></i>
        </span>
        <div class="space-y-4 rounded border ">
            <!-- Zomato -->
            <div style="display: flex;justify-content: space-between;" class="p-4">
                <span style="display: flex;gap:8px">
                    <img src="../../../../../../../assets/images/png/zomato.svg" alt="Zomato" style="width: 13%;" />
                    <span>Zomato</span>
                </span>
                <span style="display: flex;gap:5px;">
                    <input type="checkbox" />
                    <span class="flex items-center">Associated
                    </span>
                </span>
            </div>
            <!-- Swiggy -->
            <div style="display: flex;justify-content: space-between;" class="p-4">
                <div style="display: flex;gap:8px">
                    <img src="../../../../../../../assets/images/png/swiggy.svg" alt="Swiggy" style="width: 10%;" />
                    <span>Swiggy</span>
                </div>
                <span style="display: flex;gap:5px;">
                    <input type="checkbox" checked />
                    <span class="flex items-center">Associated
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>