<div style="margin: 15px;">
    <div style="display: flex;justify-content: space-between;padding: 20px" class="border">
        <div>
            <h2>Backups</h2>
            <div class="header-text-helper">Take periodic backups of your catalogue and restore old backups</div>
        </div>
        <div style="display:flex;gap:5px">
            <button type="button" class="btn btn-primary" style="height: 35px;">Backup Now</button>
        </div>
    </div>

    <div class="table" style="margin-top: 10px;">
        <div class="items-table-scroll">
            <table mat-table
                [dataSource]="rows | paginate: { itemsPerPage: page.itemPerPage, currentPage: page.pageNumber }"
                class="mat-elevation-z8">

                <ng-container matColumnDef="SR No.">
                    <th mat-header-cell class="sr-number" *matHeaderCellDef mat-sort-header="SR No."> Sr no.
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" [title]="i + 1">
                        {{i + 1}}
                    </td>
                </ng-container>

                <!-- TAGS-->
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>NAME</th>
                    <td mat-cell *matCellDef="let element; let i = index" [title]="element.name">
                        <span>
                            {{element.name}}
                        </span>
                    </td>
                </ng-container>

                <!-- ASSOCIATED ITEMS -->
                <ng-container matColumnDef="Backup On">
                    <th mat-header-cell *matHeaderCellDef>BACKUP ON</th>
                    <td mat-cell *matCellDef="let element; let i = index" [title]="element.backupOn">
                        {{element.backupOn}}</td>
                </ng-container>

                <!-- ASSOCIATED MODIFIERS -->
                <ng-container matColumnDef="User">
                    <th mat-header-cell *matHeaderCellDef>USER</th>
                    <td mat-cell *matCellDef="let element; let i = index" [title]="element.user">
                        {{element.user}}</td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>ACTION</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.user}}
                    </td>
                </ng-container>

                <ng-container>
                    <tr class="mat-row" *matNoDataRow style="width: 100%;text-align: center; vertical-align: middle;font-size: 16px;color: #757575;height: 100px;
                        align-items: center;display: flex;justify-content: center;">
                        <div class="mat-cell" [attr.colspan]="rows.length">
                            No Backups Found.
                        </div>
                    </tr>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>

        <div class="table-footer">
            <div class="totalCount">
                @if(rows && rows.length > 0){
                <span class="footer-text"> Total Records : {{rows.length}}</span>
                }@else{
                <span class="footer-text"> Total Records : 0</span>
                }
            </div>
            <div class="has-text-centered pagination">
                <pagination-controls (pageChange)="changePage($event)" previousLabel=""
                    nextLabel=""></pagination-controls>
            </div>
            <div class="footer-menu">
                <span class="footer-text"> Show Records Per Page : </span>
                <select class="footer-dropdown" [(ngModel)]="dropDownSelectedValue" (change)="RecordPerPage()">
                    @for(option of pageItem;track option){
                    <option [value]="option">{{option}}</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>