<div class="login-section with-header">
    <div class="bg-section container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-12  col-md-6 lhs order-2 order-md-1">
                <div class="login-container">
                    <form (ngSubmit)="onSubmit()">
                        <div class="login-box">
            
                            <div class="border-b">
                                <div class="heading">Change Password</div>
                            </div>
                            <div class="form w-100">
                                <!-- Old Password -->
                                <div class="w-100 mb-3">
                                    <label for="oldPassword">Old Password</label>
                                    <div class="password-input">
                                    <input placeholder="Old Password" required id="oldPassword" [(ngModel)]="userData.oldPassword"
                                        name="oldPassword" [ngClass]="(oldPassError || errorMessage)  ? 'errorsShow':''"
                                        [type]="controlType[0]" class="form-control">
                                        <i tabindex="-1" (keyup)="empty()" [ngClass]="showIcon[0] ? 'bi bi-eye-fill eye-icon' : 'bi bi-eye-slash-fill eye-icon'"  (click)="showPass(0)" id="hidePass"></i>
                                    </div>
                                    <div class="error" *ngIf="oldPassError">{{oldPassError}}</div>
                                </div>
            
                                <!-- New Password -->
                                <div class="w-100 mb-3">
                                    <label for="newPassword">New Password</label>
                                    <div class="password-input">
            
                                    <input placeholder="New Password" required id="newPassword" [(ngModel)]="userData.newPassword"
                                        name="newPassword"
                                        [ngClass]="(newPassError || errorMessage || newOldPassError)  ? 'errorsShow':''"
                                        [type]="controlType[1]" class="form-control">
                                        <i tabindex="-2" (keyup)="empty()" [ngClass]="showIcon[1] ? 'bi bi-eye-fill eye-icon' : 'bi bi-eye-slash-fill eye-icon'"  (click)="showPass(1)" id="hidePass"></i>
                                    </div>
                                        <div class="error" *ngIf="newPassError">{{newPassError}}</div>
                                </div>
            
                                <!-- Confirm Password -->
                                <div class="w-100">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <div class="password-input">
            
                                    <input placeholder="Confirm Password" required id="confirmPassword"
                                        [(ngModel)]="userData.confirmPass" name="confirmPassword"
                                        [ngClass]="(confirmPassError || errorMessage || newOldPassError)  ? 'errorsShow':''"
                                        [type]="controlType[2]" class="form-control">
                                        <i tabindex="-3" (keyup)="empty()" [ngClass]="showIcon[2] ? 'bi bi-eye-fill eye-icon' : 'bi bi-eye-slash-fill eye-icon'"  (click)="showPass(2)" id="hidePass"></i>
                                    
                                        </div>
                                    <div class="error" *ngIf="confirmPassError">{{confirmPassError}}</div>
                                </div>
                            </div>
                            <div *ngIf="(errorMessage || newOldPassError) && !confirmPassError && !newPassError && !oldPassError"
                                class="error">
                                {{ errorMessage ? errorMessage : newOldPassError }}
                            </div>
                                <button class="btn btn-theme">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 d-sm-block d-none col-md-6 rhs order-1 order-md-2">
                
            </div>
        </div>
    </div>
   
</div>

<app-loader [isLoading]="loadingSpinner"></app-loader>