<div class="login-section">
    <div class="bg-section container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-3 lhs order-2 order-md-1">
                <img src="../../../../assets/images/svg/Logotheme.svg" alt="" class="logo">
                <div class="login-container">
                    <form >
                        <div class="login-box">
            
                            <div class="border-b">
                                <div class="heading">{{isForgot === 'forgot' ? 'Forgot Password': isForgot === 'otp' ? 'Enter OTP' : 'Change Password' }}</div>
                                <span class="sub-head">{{isForgot === 'forgot' ? 'We will send an OTP on your registered Email Address.' : isForgot === 'otp' ? 'We have sent an OTP on your registered Email Address.': '' }} </span>
                            </div>
                            <div class="form w-100">
                                    <!-- email -->
                                    <!-- forgot screen -->
                                    @if(isForgot === 'forgot'){
                                    <label for="email">Email</label>
                                    <input #email placeholder="Email" required id="username" [(ngModel)]="userData.email" name="username" type="text" (keydown.enter)="sendEmail(userData)"
                                        [ngClass]="(usernameError || errorMessage) ? 'errorsShow':''" class="form-control" (blur)="EmailIsValid()">
                                    @if(usernameError || errorMessage){
                                    <div class="error">{{usernameError}}</div>
                                    }
                                    }
                            
                                    @if(isForgot === 'otp'){
                                    <label for="otp1">Enter OTP:</label>
                            
                                    <div class="otp-inputs">
                                        <input name="opt1" type="password" maxlength="1" [(ngModel)]="otp[0]" (keyup)="onKeyUp($event, 0)"
                                            [ngClass]="(errorMessage) ? 'errorsShow':''" #otp1>
                                        <input name="opt2" type="password" maxlength="1" [(ngModel)]="otp[1]" (keyup)="onKeyUp($event, 1)"
                                            [ngClass]="(errorMessage) ? 'errorsShow':''" #otp2>
                                        <input name="opt3" type="password" maxlength="1" [(ngModel)]="otp[2]" (keyup)="onKeyUp($event, 2)"
                                            [ngClass]="(errorMessage) ? 'errorsShow':''" #otp3>
                                        <input name="opt4" type="password" maxlength="1" [(ngModel)]="otp[3]" (keyup)="onKeyUp($event, 3)"
                                            [ngClass]="(errorMessage) ? 'errorsShow':''" #otp4>
                                        <input name="opt5" type="password" maxlength="1" [(ngModel)]="otp[4]" (keyup)="onKeyUp($event, 4)"
                                            [ngClass]="(errorMessage) ? 'errorsShow':''" #otp5>
                                        <input name="opt6" type="password" maxlength="1" [(ngModel)]="otp[5]" (keyup)="onKeyUp($event, 5)"
                                            [ngClass]="(errorMessage) ? 'errorsShow':''" #otp6>
                                    </div>
                                    @if(errorMessage){
                                    <div class="error">{{errorMessage}}</div>
                                    }
                                    }
                            
                                    @if(isForgot === 'password'){
                                    <!-- New Password -->
                                    <div class="w-100 mb-3">
                                        <label for="newPassword">New Password</label>
                                        <div class="password-input">
                                            <input placeholder="New Password" required id="newPassword" [(ngModel)]="userData.password"
                                                name="newPassword" [ngClass]="(newPassError || errorMessage || newConfirmPassError )  ? 'errorsShow':''"
                                                [type]="controlType[0]" class="form-control" (blur)="checkNewAndConfirmPass()">
                                                <i tabindex="-1" (keyup)="empty()" [ngClass]="showIcon[0] ? 'bi bi-eye-fill eye-icon' : 'bi bi-eye-slash-fill eye-icon'"  (click)="showPass(0)" id="hidePass"></i>
                                        </div>
                                        <div *ngIf="newPassError" class="error">{{newPassError}}</div>
                                    </div>
                            
                                    <!-- Confirm Password -->
                                    <div class="w-100">
                                        <label for="confirmPassword">Confirm Password</label>
                                        <div class="password-input">
                                            <input placeholder="Confirm Password" required id="confirmPassword" [(ngModel)]="userData.confirmPass"
                                                name="confirmPassword"
                                                [ngClass]="(confirmPassError || errorMessage || newConfirmPassError )  ? 'errorsShow':''"
                                                [type]="controlType[1]" class="form-control" (blur)="checkNewAndConfirmPass()">
                                                <i tabindex="-2" (keyup)="empty()" [ngClass]="showIcon[1] ? 'bi bi-eye-fill eye-icon' : 'bi bi-eye-slash-fill eye-icon'"  (click)="showPass(1)" id="hidePass"></i>
                                        </div>
                                        @if(newConfirmPassError && newConfirmPassError.length > 0){
                                         <div class="error">{{newConfirmPassError}}</div>
                                        }
                                    </div>
                                    @if((errorMessage || newConfirmPassError) && !confirmPassError && !newPassError ){
                                    <div class="error" >{{errorMessage ? errorMessage : newConfirmPassError }}</div>
                                    }
                                    }
                                    <span class="forget-password " style="gap: 2rem;" [ngClass]="isForgot === 'otp' ? 'justify-content-between' : ''">
                                        @if(isForgot === 'otp'){
                                            <a  *ngIf="timeoutExpired || remainingTime <= 0 " tabindex="-2" (keyup)="empty()" (click)="resendEmail()">Resend OTP</a>
                                            <span  *ngIf="!timeoutExpired && remainingTime > 0" tabindex="-2" >Resend OTP in {{ remainingTime }}s</span>
                                            }
                                        <a tabindex="-2" (keyup)="empty()" (click)="goToLogin()">
                                            <i class="bi bi-arrow-left-short"></i>
                                            Back To Login</a>
                                    </span>
                            </div>
                        
                                @if(isForgot === 'forgot'){
                                    <button (click)="sendEmail(userData)" class="btn btn-theme">SEND OTP</button>
                                }
                                @if(isForgot === 'otp'){
                                    <button (click)="submitOTP()" class="btn btn-theme">Verify OTP</button>
                                }
                                @if(isForgot === 'password'){
                                        <button (click)="updatePassword()" class="btn btn-theme">Update Password</button>
                                }
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm- col-md-9 rhs order-1 order-md-2">
                <div class="text-white">
                    <div class="heading">
                        <img src="../../../../assets/images/svg/Logotheme.svg" alt="" class="logo box-logo mb-3">

                        <div>{{welcomeText.welcomeTo}}</div>
                        <div class="theme">{{welcomeText.theme}}</div>
                    </div>
                    <p>{{welcomeText.description}}</p>
                </div>
            </div>
        </div>
    </div>
  
</div>

<app-loader [isLoading]="loadingSpinner"></app-loader>