@import "../login/login.component.scss";
.error{
    color : red;
}


// otp screen button
.otp-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   input {
    width: 60px;
    aspect-ratio: 4/4;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
}
  

  /* Hide spinner in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.forget-password {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 0.5rem;
  width: 100%;  
}
a:hover {
  color: $theme;
  font-weight: 600;
}