// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$A2B_Front_End-primary: mat.define-palette(mat.$indigo-palette);
$A2B_Front_End-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$A2B_Front_End-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$A2B_Front_End-theme: mat.define-light-theme(
  (
    color: (
      primary: $A2B_Front_End-primary,
      accent: $A2B_Front_End-accent,
      warn: $A2B_Front_End-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($A2B_Front_End-theme);

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import '../node_modules/ngx-toastr/toastr-bs5-alert.scss';
@import "./scss/variables";
@import "./scss/reset";
@import "./scss/module";

@import "./scss/component";
@import "./scss/table";

:root{
  --sidebar-width : 0px ;
  --theme: #00378c;
	--grey: #c4c4c4;
	--white: #ffffff;
	--padding: 1em;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1045;
}
.menu-icon {
  background-color: $theme;
  width: 60px;
  height: 60px;
  border: 3px solid $cl-white;
  border-radius: 50%;
  transform: translate(0px, 1.5rem);
  cursor: pointer;
  z-index: 1;
}

.parentDiv {
  width: 100%;
}

.OrdersInformation {
  display: flex;
  gap: 10px;
}
.pending {
  border: 1px solid black;
  padding: 5px;
}

.statusAndMenu {
  display: flex;
  gap: 4px;
}

.Pending {
  background-color: #ffedeb;
  color: #f0897e;
}

.Confirmed {
  background-color: #dff2ff;
  color: #75bae9;
}

.Initiated {
  background-color: #fff6e7;
  color: #f5d29d;
}

.Prepared {
  background-color: #fff4fd;
  color: #f191db;
}
.Dispatched {
  background-color: #f8e9ff;
  color: #b987ce;
}

.Delivered {
  background-color: #ddffeb;
  color: #8fe8b5;
}

.Cancelled {
  background-color: #ecf0f1;
  color: #8d8e8f;
}
.order-badge {
  font-size: 0.9rem;
  padding: 6px 7px;
  border-radius: 5px;
  color: white;
}

// order screen badge color
.badge-blue { background-color: #5698e0; }      /* ORDER_RECEIVED */
.badge-cyan { background-color: #5bd1e4; }      /* ACKNOWLEDGED_TO_AGGREGATOR */
.badge-purple { background-color: #956ddf; }    /* REQUESTED_TO_ERP */
.badge-teal { background-color: #20c997; }      /* CONFIRMED_FROM_ERP */
.badge-red { background-color: #e45b68; }       /* CANCELLED */
.badge-orange { background-color: #fd7e14; }    /* MFR */
.badge-green { background-color: #28a745; }     /* ARRIVED */
.badge-lime { background-color: #c3e6cb; }      /* PICKEDUP */
.badge-darkgreen { background-color: #28a745 } /* DELIVERED */
.badge-gray { background-color: #6c757d; }      /* NULL */

.status {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  @include display-fag(flex, center);
}

.header {
  background-color: var(--primary-theme);
  min-height: 70px;
  padding: 0.6rem 2.5rem 0.6rem 7rem;
  @include display(flex, center, space-between);
  color: $cl-white;
  position: relative;

  .brand {
    @include display-fag(flex, center);
    @include font(1.5rem);
  }

  .navigation {
    @include display-fag(flex, center);
    @include font(0.9rem);
  }

  .user-block {
    @include display-fag(flex, center, 0.6rem);

    .user-img {
      max-width: 40px;
    }

    .status {
      opacity: 0.5;
    }
  }

  .sidecar-btn {
    position: absolute;
    top: 100%;
    transform: translatey(-50%);
    background-color: $theme;
    border: 3px solid $cl-white;
    left: 2rem;
    border-radius: 15rem;

    min : {
      height: 3.4rem;
      width: 3.4rem;
    }

    font-size: 1.5rem;
    @include display(flex, center, center);
    cursor: pointer;
    z-index: 1;
  }
}

html,
body {
  height: 100%;
  --mat-table-header-container-height : 46px
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background-color: #0b5ed7;
}
::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
  background-color: #dbe6f5;
}


.Calender {
  border-radius: 12px 0 0 12px;
  background-color: #fbfdff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  flex-direction: column;
   width: 170px;
   margin: auto;

  .heading h2 {
    font-size: 24px;
    padding: 0px 20px 20px;
  }
  .dateDiv {
    height: 80px;
    width: 80px;
    aspect-ratio: 4/4;
    border-radius: 50%;
    border: 1.5px solid $theme;
    padding: 14px 12px;
    background-color: $cl-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    .day {
      font-size: 1rem;
      font-weight: 400;
      color: #a2a9a4;
    }
    .date {
      font-size: 20px;
      font-weight: 600;
      color: $theme;
    }
    .order-count {
      background-color: #e7f0ff;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 4/4;
      border-radius: 50%;
      position: absolute;
      bottom: -1px;
      right: 0;
      font-size: 13px;
      font-weight: 500;
      color: $theme;
    }
    &.active {
      background-color: #e7f0ff;
      .day {
        font-size: 1rem;
        font-weight: 400;
        color: $theme;
      }
      .order-count {
        background-color: $cl-white;
        color: $theme;
      }
    }
  }
}

// --Loader--
.no-scroll {
  overflow: hidden;
}

td {
  border-bottom: 0px !important;
}
.password-input {
  position: relative;

  .eye-icon {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1400px) {
  .parentDiv {
    flex-direction: column;
  }

 
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.form-check-input:checked {
  background-color: #084cb1 !important;
  border-color: #084cb1 !important;
}

.mat-mdc-form-field-focus-overlay,
.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align,
.mdc-line-ripple {
  display: none !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff !important;
}

.mat-dialog-header {
  padding: 1rem 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-close{
    &:focus{
      box-shadow: none;
    }
  }
  h2 {
    font-size: 22px;
    font-weight: 600;
  }
 border-bottom: 1px solid  #dee2e6 ;
}
.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 8px !important;
}

.mat-mdc-dialog-actions.mdc-dialog__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding:  0 1rem 1rem;
}
.mat-mdc-dialog-content.mdc-dialog__content {
  // padding: 1rem 1rem 0 !important;
}

.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p, .mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2{
margin: 0px;
}

.cdk-overlay-pane.mat-mdc-dialog-panel{
  min-width: 500px !important;
}

.status-menu {
  @include display-fag(flex, center);
  padding-left: 7rem;
  justify-content: center;

  .status-bar {
    min-width: 13rem;
    min-height: 2.5rem;
    cursor:pointer;
    text-align: center;
    color: white;
    filter: url(#round);
    display: flex;
    margin-top: -2px;
    align-items: center;


    &:before {
      content: "";
      min-width: 13rem;
      cursor:pointer;
      display: block;
      min-height: 3rem;
      clip-path: polygon(0 0, 100% 0, 87% 100%, 14% 100%);
      position: absolute;
      top: -6px;
      z-index: -1;
    }

    span {
      top: .2rem;
      padding: 0.4rem 2.5rem 0.6rem 2.5rem;
      position: relative;
    }

    &.hold {
      &:before {
        background-image: linear-gradient(
          180deg,
          #f9f2a0 -45.39%,
          #e1a747 100%
        );
      }
    }

    &.cancel {
      &:before {
        background-image: linear-gradient(
          180deg,
          #f9b2a0 -75.42%,
          #e14747 100%
        );
      }
    }

    &.success {
      &:before {
        background-image: linear-gradient(
          180deg,
          #c8fff4 -42.57%,
          #1abc9c 88.55%
        );
      }
    }
  }
}

.status-bar-with-input {
  @include display-fag(flex, center);
  margin-top: -2px;
  min-width: 12rem;
  min-height: 2.5rem;
  text-align: center;
  color: white;
  filter: url(#round);

    &:before {
      content: "";
      display: block;
      min-height: 3rem;
      clip-path: polygon(0 0, 100% 0, 87% 100%, 14% 100%);
      background-color: $theme;
          transform: rotateX(180deg);
          width: 200px;
          position: absolute;
          top: 4px;
          right: 50px;
          z-index: -1;
    }

    select {
      border: 0 !important;
      outline: 0;
      background-color: unset;
      color: $cl-white;

      option {
        color: #000;
      }
    }

    .selectOrderStatusFilter {
      position: absolute;
      right: 90px;
      top: 10px;
      box-sizing: unset;
    }
}


.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
  margin: 0;
}

.show-sidebar{
  gap: 1rem;
  .Calender{
    border: none;
  }
}



// overwrite toaster background color and font color classes
.toast-success{
  background-color: #51a351 !important;
  color:white !important
}


.action-col{
  min-width: 10rem;
  width: 10rem;
}

.filter-bar{
    @include display-justify(flex, center, 0.6rem ,space-between);
    padding-bottom: 1rem;
}

.filters {
  @include display-fag(flex, center, 10px, nowrap);
}
.custom-badge {
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  background-color: #00378c1e;
  padding: 3px 16px;
  color: $theme;
  &.danger{
    background-color: #FFEDEB;
    color: #E74C3C;  
  }
}

.aggregator-card.mat-mdc-card {
  padding: 0;
  border-radius: 1rem;
  background: $cl-white;
  box-shadow: 3px 4px 17.9px 0px rgba(0, 0, 0, 0.08);
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #f5f5f5;
    
  }
  .mat-mdc-card-header-text{
    overflow: hidden;
     
  }
  mat-card-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  mat-card-content {
    margin-top: 1rem;
  }

  mat-card-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    padding: 0.5rem 1rem 1rem 1rem; 
  }
}
.toast-container.toast-top-center .ngx-toastr{
  top : 28px;
  border: none;
}

.errorsShow {
  border: 1px solid red !important;
}

.error{
  color : red;
}

// for filter multi-select

.multiselect-dropdown .dropdown-btn {
  .dropdown-multiselect__caret{
    &::before{
      border-width: 2.5px 0 0 2.5px !important;
      width: 9px;
      display: block;
      height: 9px;
      border-color: #23343ad1 !important;
      border-radius: 2px;
      transform: translate(92%, -100%) rotate(225deg);
      top: 50% !important;
    }
  }
  .selected-item-container .selected-item{
  background-color: transparent !important;
  border-color: transparent !important;
  color: black !important;
  max-width: unset !important;
  padding: 0 !important;
  &:hover{
    box-shadow: none !important;
  }
  a{
    color: red !important;
 
  }
}}


// Common filter button 
.filter-btn{
  font-weight: 500;
  // background: transparent;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 7px;
  padding: 0.3rem .75rem;
  transition: 0.5s;
    &:hover{
      background-color: $theme;
      color:white;
    }
}

.modal-header h1 {
  margin : 0px
}

// Multiselect Library
 
.multiselect-dropdown .dropdown-btn{
  display: inline-block;
  border: 1px solid #adadad;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  overflow: auto;
  max-height: 130px;
}
.error-collapse{
  &:last-child{
    border-bottom: none !important;
  }
}
app-filter ng-multiselect-dropdown .dropdown-list{
  overflow: hidden;
}

mat-form-field .mdc-text-field--filled .mdc-floating-label, .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
  font-size: 14px !important;
}
mat-datepicker-content {
  .mat-calendar-table-header th{
  background-color: white;
}}
.mdc-text-field--filled .mdc-floating-label--float-above{
  display: none !important;
}
.mat-mdc-icon-button.mat-mdc-button-base{
  --mdc-icon-button-state-layer-size : 36px;
  padding: 0px;
}
.mat-mdc-form-field{
  border: 1px solid #ccc;
    border-radius: 9px;
    padding: 0 10px;
}
.mat-mdc-form-field-flex{
  align-items: center !important;
}
.mat-mdc-form-field-infix{
  min-height: fit-content !important;
  padding: 0 10px !important;
  width: 120px !important;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .mat-mdc-floating-label{
  top: 50% !important;
    transform: translate(0, -50%);
}

.mdc-text-field--filled{
  border-radius: 9px !important;
}
.resizer {
  display: flex;
  width: 10px;
  cursor: ew-resize;
  background-color: #efefef;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  align-items: center;
}
.resizer:hover{
  background-color: #00378c ;
  color:white
}
.form-control:disabled{
  cursor: not-allowed !important;
}
.disabled {
  cursor: not-allowed;
}
.p-24{
  padding: 1.5rem;
  // margin-top: 0.5rem;
}
app-filter{
  width: 100%;
}
.category{
  max-height: calc(100vh - 190px);
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  &.sidebar{
    width: 30%;
  }
}
.cat-main-content {
  width: 70%;
  flex-grow: 1;
}
.subcategories-header {
  padding: 0.9rem 0.7rem;
  // background-color: #f9fafb;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  background-color: #F1F7FF;
  h2{
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
  }
}

.subcategory-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
  margin-bottom: 0.3rem;
  transition: 0.2s linear;
  border-radius: 8px;
  &:nth-child(even){
    background-color: #F1F7FF;
  }
  &.selected{
    background-color: #00378C;
    color: white;
    .btn-icon i{
      color: white;
    }
    &:hover{
      background-color: #00378C;
      color: white;
    }
  }
  &:hover{
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.005);
  font-weight: 600;
  color: #00378C;
  // text-decoration: underline;
  }
}


.subcategories-list {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.dashboard-filter{
  display: flex;
  gap: 10px;
  padding: 0.7rem;
  justify-content: space-between;
  align-items: center;
  background-color: #00378c;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
}
.location-filter{
  .dashboard-filter{
    width: 100%;
    justify-content: start;
  }  
}
.sidebar.sidebar-open{
  .copyright{
    bottom: 6px;
    position: absolute;
    text-align: center;
    font-weight: 500;
    width: 100%;
    left: 0;
    border-top: 1px solid #cfcfcf;
    padding-top: 10px;
  }
}

.customHeaderSyncTrack{
  min-width: 55vw !important;
}
.mat-mdc-dialog-content {
  max-height: 80vh !important;
}
.mdc-dialog__container{
  .table-scroll {
    max-height: calc(80vh - 210px);
  }
}



.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Space between spinner and text */
}

/* Spinner Styles */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ffffff; /* Match your theme */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/* Spinner Text Styles */
.spinner-text {
  font-size: 0.875rem; /* Match your button text size */
  color: white; /* Ensure it's visible on the button */
  text-transform: uppercase; /* Match button text styling */
}

/* Keyframes for spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#ModifierGroupModal {
  z-index: 1050;
}

#EditItem {
  z-index: 1060;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
}