/* Basic Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $ff-poppins;
}

html {
  line-height: 1.15;
  /* Improve readability */
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in Safari */
  scroll-behavior: smooth;
  /* Smooth scrolling */
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

aside {
  background-color: #00378c;
  margin-top: 0;
  padding: 8px !important;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

p {
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background-color: #0b5ed7;
}

::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
  background-color: #dbe6f5;
}
.mdc-button.min-w-0{
  min-width: 0px
}