<div class="container">
    <div class="m-8">
        <span style="display: flex;gap:5px">
            <p style="font-weight: 600;" class="mb-2"> Taxes Applicable </p>
        </span>
        <div class="border rounded"
            style="display: flex;justify-content: space-between;height: 75px;align-items: center;padding: 18px;">
            <div style="display: grid;gap: 15px;">
                <div style="display:contents;gap:10px">
                    <p style="font-weight: 600;"> GST </p>
                    <p style="color: grey;font-size: 13px;padding-top: 4px;">5% on Item Price</p>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="button">
                    View
                </button>
            </div>
        </div>
    </div>

    <div class="m-8">
        <span style="display: flex;gap:5px">
            <p style="font-weight: 600;" class="mb-2"> Charges Applicable </p>
        </span>
        <div class="border rounded"
            style="display: flex;justify-content: space-between;height: 75px;align-items: center;padding: 10px;">
            <div style="display: grid;gap: 15px;">
                <div style="display:contents;gap:10px">
                    <p style="font-weight: 600;"> No Charges Applicable </p>
                </div>
            </div>
            <div>
                <p style="color: #0037AD;font-weight: 500;">Learn how to add charges</p>
            </div>
        </div>
    </div>
</div>